/* style.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

input[type="text"], select {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#qrcode {
    display: none; /* Hide the raw QR code */
}

#qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 500px;
    aspect-ratio: 1; /* Make sure the container is always a square */
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#qrimage {
    max-width: 100%;
    max-height: 100%;
}
.simple *{
    display: none;
}
.simple {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000000;
}
.simple img {
    display: flex;
}
